.main-form {
  padding: 40px 0;
  background-color: $main-dark-bg;
}

.main-form__inner {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
